* {
  margin: 0;
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: "Karla", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 37px;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form h1 {
  margin-bottom: 12px;
}
form div {
  margin-bottom: 10px;
}
form label {
  pointer-events: none;
  color: hsl(187, 24%, 22%);
  font-size: 16px;
  margin-bottom: 10px;
}
form input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid hsl(186, 15%, 59%);
  cursor: pointer;
}
form input:focus, form input:hover {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}
form input[type=submit]:hover {
  background-color: #06382e;
  border: none;
}
form input[type=submit] {
  align-self: center;
  align-self: stretch;
}

.form-container {
  position: relative;
}

.name-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 0;
}
.name-container .name {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.email-class {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.selection-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}
.selection-container p {
  color: hsl(187, 24%, 22%);
  margin-bottom: 10px;
}
.selection-container .options-container {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.selection-container .options-container .options {
  flex: 1;
  border: 1px solid hsl(186, 15%, 59%);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 0;
}
.selection-container .options-container .options input {
  margin-left: 10px;
  accent-color: hsl(169, 82%, 27%);
}

.checkbox {
  margin-bottom: 15px;
}
.checkbox input {
  accent-color: hsl(169, 82%, 27%);
}
.checkbox + input {
  background-color: hsl(169, 82%, 27%);
  border: none;
  color: white;
}

.message-class {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.message-class textarea {
  padding: 16px;
  cursor: pointer;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.message-class textarea:focus, .message-class textarea:hover {
  outline: none;
  border: 2px solid hsl(169, 82%, 27%);
}

.option-1 {
  flex: 1;
  background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 0;
}
.option-1 input {
  margin-left: 10px;
  accent-color: hsl(169, 82%, 27%);
}

.option-2 {
  flex: 1;
  background-color: hsl(148, 38%, 91%);
  border: 2px solid hsl(169, 82%, 27%);
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 0;
}
.option-2 input {
  margin-left: 10px;
  accent-color: hsl(169, 82%, 27%);
}

.error {
  margin-bottom: 0;
  font-size: 11px;
  margin-top: 5px;
  color: hsl(0, 66%, 54%);
}

.js-error-input {
  border: 1px solid hsl(0, 66%, 54%);
}

.popup {
  position: absolute;
  top: -40px;
  left: 10%;
  right: 10%;
  background-color: #06382e;
  padding: 10px;
  color: white;
  border-radius: 7px;
  z-index: 1000;
}
.popup p {
  font-size: 12px;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 399px) {
  body {
    padding: 10px;
    margin-top: 8px;
  }
  form {
    padding: 30px;
  }
  .name-container {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .selection-container .options-container {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */